<div>
  <div class="left-container">
    <p class="stocks-title">Your stocks</p>
    <cdk-virtual-scroll-viewport itemSize="50" class="stock-container">
      <app-stock-list-item
        class="list-item"
        *cdkVirtualFor="let stock of stocks"
        [stock]="stock"
        (selected)="selected($event)"
      ></app-stock-list-item>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="trade-window" *ngIf="selectedStock">
    <div class="trade-window-left">
      <p class="selected-stock">{{ selectedStock.name }}</p>
      <form action="" *ngIf="!isBuying === isSelling" [formGroup]="stockFrom">
        <mat-form-field class="example-full-width" floatLabel="never">
          <input
            #NumSotcks
            matInput
            placeholder="How Many?"
            [formControl]="numberFormControl"
            autocomplete="off"
            formControlName="amount"
            type="number"
          />
          <mat-error
            *ngIf="
              numberFormControl.hasError('pattern') &&
              !numberFormControl.hasError('required')
            "
          >
            Please enter a number
          </mat-error>
        </mat-form-field>
        <p>Total: {{ NumSotcks.value * selectedStock.value }}$</p>
      </form>
      <button class="exchange-btn" *ngIf="isBuying === true">
        <span>Buy Stocks</span>
      </button>
      <button class="exchange-btn" *ngIf="isSelling === true" (click)="sell()">
        <span>Sell Stocks</span>
      </button>
    </div>
    <div class="trade-window-right">
      <div>
        <span>Price</span>
        <span>{{ selectedStock.value }}</span>
      </div>
      <div>
        <span>Stocks For Sale</span>
        <span>{{ selectedStock.owned }}</span>
      </div>
    </div>
  </div>
</div>
