@import './../../styles.scss';

div {
  display: flex;
  padding: 0;
  background-image: url('../../assets/background.svg');
  height: calc(100% - 64px);
  justify-content: space-around;
  p {
    margin: 0;
  }

  div {
    flex-direction: column;
  }

  button {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: $action-color;
    border: none;
    padding: 10px;
    font-family: 'Nunito';
  }

  .left-container {
    justify-content: flex-start;
    flex: 2;
    margin-left: 130px;

    .welcome {
      margin-top: 50px;
      color: $text-color;
      font-weight: bold;
      font-size: 60px;
    }

    .spacer {
      height: 130px;
    }

    .exchange-btn {
      color: $background-color;
      font-size: 35px;
      border-radius: 15px;
      width: 300px;
      margin-top: 50px;
    }
  }

  .stock-market-container {
    height: fit-content;
    align-self: flex-end;
    flex: 2;
    margin-bottom: 150px;
    .stock-market-btn {
      color: $background-color;
      font-size: 50px;
      border-radius: 15px;
      width: 430px;
      height: 140px;
    }
  }

  .owned-stocks {
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
    width: 400px;
    height: 600px;
    flex: 3;
    background-color: $white-color !important;
    margin-right: 130px;
    margin-left: 80px;
    app-stocklist {
      height: 50px;
      width: 400px;
    }
  }
}
