@import './../../styles.scss';
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: solid $text-color;
  border-width: thin;
  height: 50px;
  color: $text-color;
  background-color: $background-color;

  .change {
    justify-self: flex-end;
  }

  .negative {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    color: $stocks-down-color;
  }

  .positive {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color: $stocks-up-color;
  }
}
